.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #F2F2F2;
  padding: 1rem;

  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .links {
    display: flex;
    gap: 1rem;

    .link {
      color: rgb(24, 112, 243);
      font-size: .9rem;
      font-weight: 600;

      text-transform: uppercase;
      text-decoration: none;
    } 
  }
}

