.container {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 55px);

    .pagination {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    .button {
        width: 100%;
        text-align: start;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        background-color: #F2F2F2;
        padding: .5rem;
        border-radius: 4px;

        &:hover {
            background-color: #E6E6E6;
        }
    }
}